importFrom("stats", "aggregate")
importFrom("utils", "URLdecode", "URLencode", "read.table","write.table")
export(remDr_setup)
export(openDr)
export(closeDr)
export(getElem)
export(decode_special_chars)
export(encode_special_chars)
export(firstup)
export(rmlastp)
export(rmsphyp)
export(get_blocks)
export(sample_engines)
export(generate_tps)
export(google_translate)
export(systran_translate)
export(deepl_translate)
export(translate)
export(generate_source_support_blocks)
export(generate_support_target_blocks)
export(translate_source_support_blocks)
export(translate_support_target_blocks)

